
.container{	display:grid;
			grid-template-rows: 100px 50px  600px 30px;
			grid-template-columns:40px 300px 300px 300px 300px  auto auto;	}

header {	background-color: khaki;	background-image:url("image/flower2.png");
			height:75pt;		grid-area: 1 / 1 / span 1 / span 2;		text-align: bottom;}
	
header > img {	grid-area: 1 / 1 / span 1 / span 2;		float:left;		}

header > div {	font-size: 20pt;	font-weight:bold;
/*outline */	color:		#006400;
text-shadow: 0px 0px 5px 	#fff68f,
			 2px 2px 5px 	#8b864e,
			 4px 4px 5px 	#cdc673;
grid-area: 1 / 5 / span 3 / span 5;
white-space: nowrap;		padding-left: 5em;
float:right;				margin-top: 45pt;
margin-right: 10pt;	}
	
.box2, .box3, .box4 , .box5, .box6,  .box7, .box8, .box10, .box11	{
		background-color:#fafad1;
		
		padding-top:10pt;	
		}
.box2, .box3, .box4 , .box5,   .box7, .box8, .box10, .box11	{
		background-color:#fafad1;
		text-align:center;
		padding-top:10pt;	
		}
	
a.p { 	text-decoration: none; 	
	border: 1px solid #ffffb3;		padding: 7pt;		border-radius: 8pt;
	box-shadow: 2px 2px 5px #e6ffe6	;	background: linear-gradient(to bottom, #ffffcc, #e6e6e6); }
	
a:hover {	font-weight: bold;	color: #009900;		}


.box1 {		grid-column:1/7;	}
.box2 {	grid-column: 1/2;	grid-row: 2/3;	}
.box3 {	grid-column: 2/3;	grid-row: 2/3;	}
.box4 {	grid-column:3/4;	grid-row: 2/3;	}
.box5 {	grid-column:4/5;	grid-row: 2/3;	}
.box6 {	grid-column:5/6;	grid-row: 2/3;	}
.box7 {	grid-column:6/7;	grid-row: 2/3;	}
.box8 {	grid-column:1/2;	grid-row: 3/4;	}
.box10{	grid-column:6/7;	grid-row: 3/4; 	}
.box11{	grid-column:1/7;	grid-row: 4/5;	}
.box9 {	grid-column:2/6;	grid-row: 3/4;
			/*border: 5px solid #e0e052 ;*/	}
div.box11 {		font-size: 8pt;	text-align: right;	padding-top: 10px;	padding-right: 40px;}

.box5 {padding-left: 4em;}
div  a {	text-decoration: none;	;}

div ul, div li {list-style-type: none; margin:0; padding: 0;}

div > ul > li {	float:left; 	}

div > ul > li > ul {display:none; Position: absolute;}

div > ul > li:hover > ul {display: block; background-color: #ffeb99;}
 

div > ul > li > ul> li:hover { background-color: #ffcc00;}
div > ul > li > ul > li { padding: 2px 1em 2px 0.5em; 	border-bottom: 1px solid #e6b800;}





